// paramount form
// .pp_projects--1,

$paramountColor1: #273b96;
$paramountColor2: #13b1be;

body {
    background-color: #333;
}
.paramount-form {
    color: #fafafa;
    margin: 3rem auto;

    .alert {
        p {
            margin: 0;
        }
    }

    input {
        margin-bottom: .8rem;
    }

    .submit {
        background-color: $paramountColor1;
        // border: 1px solid #fff;
        border: 0;
        max-width: 16rem;
        width: 100%;
        font-weight: bold;

        &:hover,
        &:active {
            background-color: $paramountColor2;
        }
    }

    [class*="pp_projects"] {
        .form-check {
            padding: 0;
            background-color: #dfdfdf;
            border: 1px solid #eee;

            input {
                visibility: hidden;
            }

            label {
                width: 100%;
                padding-left: 1.25rem;
                padding-top: .4rem;
                padding-bottom: .4rem;
                border-radius: .25rem;
            }

            input[type=checkbox]+label {
                transition: all .2s ease;
                color: #777;
                font-weight: 500;

                &:hover {
                    background-color: #aeeaef;
                }
            }

            input[type=checkbox]:checked+label {
                color: #fff;
                background-color: $paramountColor2;
            }
        }
    }

    .form-group {
        &__acceptance {
            font-style: italic;
            padding-left: 1rem;

            label {
                margin-bottom: .4rem;
            }

            font-size: .925rem;
        }
    }
}