.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;

  &-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
  }

  &-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
  }

  &.hidden {
    display: none;
    visibility: hidden;
  }
}


.parsley-errors-list {
  background-color: goldenrod;
  display: block;

  &.filled {}
}