@use "bootstrap/scss/bootstrap" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

html {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #fefefe;
}
